<html>
<head>
    <title>My Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calories.css') }}">
</head>
<body>
    <header class="header">
    <img id="logo" src="https://github.com/PunchPotato/Calorie-Tracking-Web-App/blob/main/images/logo%202.png?raw=true" alt="logo">
    <form action="{{ url_for('login') }}" method="post">
        <button id="LogOutButton" type="submit">Log Out</button>
    </form>
    <form action="{{ url_for('calories') }}" method="post">
        <button id="DietTrackingButton" type="submit">Diet Tracking</button>
    </form>
        <form action="{{ url_for('exercise') }}" method="post">
            <button id="ExerciseButton" type="submit">Exercises</button>
        </form>
        <form action="{{ url_for('profile') }}" method="post">
            <button id="ProfileButton" type="submit">Profile</button>
        </form>
    </form>
    </header>
    
    <main>
        </div>
        <div class="box_2">
            <p id="totalcaloriestext">Total Calories: <span>{{ total_calories }}</span> Cals</p>
        </div>
        <div class="container">
            <div class="expanding-box">
                <p id="foodaddtext">Tracked Food:</p>
                {% if nutrition_data %}
                    {% for food_item in nutrition_data %}
                        <form method="POST" action="{{ url_for('nutrition') }}">
                            <button id="caloriesinfo">{{ food_item["name"] }} - Calories: {{ food_item["calories"] }}</button>
                        </form>
                        <form method="post" action="{{ url_for('delete_food', food_name=food_item['name']) }}" style="display:inline;">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    {% endfor %}
                {% else %}
                    <p class="error">{{ food_data }}</p>
                {% endif %}
            </div>
        </div>
            <div class="search_food">
                <form method="POST" action="{{ url_for('calories') }}">
                    <button id="FoodButton" name="FoodButton" type="submit">Add Food</button>
                    <input id="foodtextbox"type="text" name="foodtextbox" placeholder="Search Food Here!">
            </form>
            </div>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>