<!DOCTYPE html>
<html>
<head>
    <title>My Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calories.css') }}">
</head>
<body>
    <header class="header">
    <h1 id="Everything", font>Everything</h1>
    <h1 id="Fitness">Fitness</h1>
    <form action="{{ url_for('login') }}" method="post">
        <button id="LogOutButton" type="submit">Log Out!</button>
    </form>
    </header>
    
    <main>
        <div class="box">
            <button id="DietTrackingButton" type="submit">Diet Tracking!</button>
            <form action="{{ url_for('exercise') }}" method="post">
                <button id="ExerciseButton" type="submit">Exercises!</button>
            </form>
            <form action="{{ url_for('profile') }}" method="post">
                <button id="ProfileButton" type="submit">Profile!</button>
            </form>
        </div>
        <div class="box_2">
            Total Calories: <span>{{ total_calories }}</span> Cals
        </div>
        <div class="container">
            <div class="expanding-box">
                <p>Food will be added here!</p>
                <ul>
                    {% for food in foods %}
                    <li>{{ food }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="search_food">
            <form action="{{ url_for('add_food') }}" method="post">
                <input id="foodtextbox"type="text" name="new_food" placeholder="Search Food Here!">
                <button id="FoodButton" type="submit">Add Food!</button>
            </div>
            </form>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>