<!DOCTYPE html>
<html>
<head>
    <title>My Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='exercise.css') }}">
</head>
<body>
    <header class="header">
    <h1 id="Everything", font>Everything</h1>
    <h1 id="Fitness">Fitness</h1>
    <form action="{{ url_for('login') }}" method="post">
        <button id="LogOutButton" type="submit">Log Out</button>
    </form>
    <form action="{{ url_for('calories') }}" method="post">
        <button id="DietTrackingButton" type="submit">Diet Tracking</button>
    </form>
        <form action="{{ url_for('exercise') }}" method="post">
            <button id="ExerciseButton" type="submit">Exercises</button>
        </form>
        <form action="{{ url_for('profile') }}" method="post">
            <button id="ProfileButton" type="submit">Profile</button>
        </form>
    </form>
    </header>
    
    <main>
        </div>
        <div class="box_2">
            <p id="totalcaloriestext">Total Calories: <span>{{ total_calories }}</span> Cals</p>
        </div>
        <div class="container">
            <div class="expanding-box">
                <p id="exerciseaddtext">Exercises:</p>
                {% if nutrition_data %}
                    <form method="POST" action="{{ url_for('nutrition') }}">
                        <button id="caloriesinfo">{{ nutrition_data[0]["name"] }} - Calories: {{ nutrition_data[0]["calories"] }}</button>
                    </form>
                {% else %}
                    <p class="error">{{ food_data }}</p>
                {% endif %}
            </div>
        </div>
            <div class="search_exercise">
            <form action="{{ url_for('calories') }}" method="post">
                <input id="foodtextbox"type="text" name="foodtextbox" placeholder="Search Exercises Here!">
                <button id="FoodButton" type="submit">Add Exercises!</button>
            </div>
            </form>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>