<!DOCTYPE html>
<html>
<head>
    <title>My Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='exercise.css') }}">
</head>
<body>
    <header class="header">
    <img id="logo" src="https://github.com/PunchPotato/Calorie-Tracking-Web-App/blob/main/images/logo%202.png?raw=true" alt="logo">
    <form action="{{ url_for('login') }}" method="post">
        <button id="LogOutButton" type="submit">Log Out</button>
    </form>
    <form action="{{ url_for('calories') }}" method="post">
        <button id="DietTrackingButton" type="submit">Diet Tracking</button>
    </form>
        <form action="{{ url_for('exercise') }}" method="post">
            <button id="ExerciseButton" type="submit">Exercises</button>
        </form>
        <form action="{{ url_for('profile') }}" method="post">
            <button id="ProfileButton" type="submit">Profile</button>
        </form>
    </form>
    </header>
    
    <main>
        <div class="container">
            <div class="expanding-box">
                <p id="exerciseaddtext">Exercises:</p>
                {% if exercises_data %}
                    {% for exercise in exercises_data %}
                        <form method="POST" action="{{ url_for('exerciseinfo') }}">
                            <button class="exercise-info-button" name="exercise_info" value="{{ exercise['name'] }}">{{ exercise["name"] }}</button>
                        </form>
                        <form method="post" action="{{ url_for('delete_exercise', exercise_name=exercise['name']) }}" style="display:inline;">
                            <button type="submit" class="delete-button">Clear</button>
                        </form>
                    {% endfor %}
                {% else %}
                    <p class="error">{{ exercise_data }}</p>
                {% endif %}
            </div>
            <div class="search_exercise">
            <form action="{{ url_for('exercise') }}" method="post">
                <input id="exercisetextbox"type="text" name="exercisetextbox" placeholder="Search Muscle Here!">
                <button id="ExerciseButton2" type="submit">Search Exercises</button>
            </div>
            </form>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>