<html>
<head>
    <title>My Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="header">
        <h1 id="Everything">Everything</h1>
        <h1 id="Fitness">Fitness</h1>
        <form action="{{ url_for('login') }}" method="post">
            <button class="my-button" id="Button" type="submit">Log In!</button>
        </form>
    </header>
        <main>
            <img id="download_app" src="https://github.com/PunchPotato/Calorie-Tracking-Web-App/blob/main/images/app%20store%20play%20store.png?raw=true" alt="download app">
            <p id="text1">Tracking Your Fitness Has Never Been Easier.</p>
            <p id="text2">Your Calories, Macros and Workouts are a Priority.</p>
            <img id="barbell" src="https://raw.githubusercontent.com/PunchPotato/Calorie-Tracking-Web-App/main/images/barbel.png" alt="barbell">
            <img id="fork" src="https://raw.githubusercontent.com/PunchPotato/Calorie-Tracking-Web-App/main/images/fork.png" alt="fork">
        </main>
        <footer>
            <p>&copy; 2023 My Website</p>
        </footer>
    </div>
</body>
</html>