<!DOCTYPE html>
<html>
<head>
    <title>My Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resetpassword.css') }}">
</head>
<body>
    <header>
        <h1 id="Everything" font>Everything</h1>
        <h1 id="Fitness">Fitness</h1>
    </header>
    
    <main>
        <div class="box">
            <img id="foodimage" src="https://github.com/PunchPotato/Calorie-Tracking-Web-App/blob/main/images/blueberry.png?raw=true" alt="food photo">
            <h1>RESET PASSWORD</h1>
            <form action="{{ url_for('resetpassword') }}" method="post" novalidate>
                <label id="code" for="codetextbox">Code:</label>
                <input type="code" id="codetextbox" name="codetextbox">

                <label id="password" for="passwordtextbox">Password:</label>
                <input type="password" id="passwordtextbox" name="passwordtextbox">

                <label id="comfirmpassword" for="comfirmpasswordtextbox">Comfirm Password:</label>
                <input type="comfirmpassword" id="comfirmpasswordtextbox" name="comfirmpasswordtextbox">

                <button id="resetpassword_ids" type="submit">Reset Password!</button>

                {% if error_message %}
                <div id="error" style="color: red;">{{ error_message }}</div>
                {% endif %}
          </div>
    </main>
    
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>