<!DOCTYPE html>
<html>
<head>
    <title>My Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <header>
        <h1 id="Everything" font>Everything</h1>
        <h1 id="Fitness">Fitness</h1>
    </header>
    
    <main>
        <div class="box">
            <img id="foodimage" src="https://github.com/PunchPotato/Calorie-Tracking-Web-App/blob/main/images/blueberry.png?raw=true" alt="food photo">
            <h1>SIGN UP</h1>
            <form action="{{ url_for('signup') }}" method="post" novalidate>
                <label id="username" for="usernametextbox">Username:</label>
                <input type="text" id="usernametextbox" name="usernametextbox">
                
                <label id="email" for="emailtextbox">Email:</label>
                <input type="email" id="emailtextbox" name="emailtextbox">
                
                <label id="password" for="passwordtextbox">Password:</label>
                <input type="text" id="passwordtextbox" name="passwordtextbox">
                
                <label id="comfirmpassword" for="comfirmpasswordtextbox">Comfirm Password:</label>
                <input type="password" id="comfirmpasswordtextbox" name="comfirmpasswordtextbox">
                

                <button id="signup_id" type="submit">Sign Up!</button>
                
                <p id="or">----------------------------OR----------------------------</p>
                <a id="loginlink" href="/login">Log in!</a>
                
                <div class="checkbox-container">
                    <input type="checkbox" id="checkbox_id" name="checkbox_name" value="checkbox_value">
                    <label for="checkbox_id">I agree to terms and services</label>
                    </div>
                

                {% if error_message %}
                <div id="error" style="color: red;">{{ error_message }}</div>
                {% endif %}
          </div>
    </main>
    
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>