body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 1881px;
    height: 200px;
    background-color: #414770;
    border: 1px solid #000;
    padding: 10px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Everything {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    position: absolute;
    top: 0px;
    left: 400px;
}

#Fitness {
    color: rgb(255, 246, 246);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    position: absolute;
    top: 50px;
    left: 400px;
}

.box {
    width: 1080px;
    height: 50px;
    background-color: #414770;;
    padding: 20px;
    position: absolute;
    top: 300px;
    left: 400px;
  }

  .box_2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    width: 300px;
    height: 50px;
    background-color: #414770;;
    padding: 20px;
    position: absolute;
    width: 400px;
    height: 140px;
    top: 325px;
    right: 400px;
    text-align: center;
    border-radius: 50px;
  }
  #totalcaloriestext{
    color: aliceblue
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.expanding-box {
    background-color: #414770;;
    width: 1080px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 580px;
    border-radius: 50px;
}
#foodaddtext{
    color: aliceblue;
}

#caloriestext{
    color: aliceblue;
}

#caloriestextnumber{
    color: aliceblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.search_food {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    width: 400px;
    height: 140px;
    top: 325px;
    left: 400px;
    background-color: #414770;
    border-radius: 50px;
}

form input[type="text"] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 80%;
    height: 20px;
    position: absolute;
    top: 40px;
    left:  40px;
    padding: 5px;
    margin-bottom: 10px;
}

form button {
    padding: 5px 10px;
}

#FoodButton {
    position: absolute;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: aliceblue;
    top: 100px;
    left: 160px;
    width: 150px;
    height: 50px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

#LogOutButton {
    position: absolute;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: aliceblue;
    top: 50px;
    right: 400px;
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #414770
    }
}

#DietTrackingButton {
    position: absolute;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: aliceblue;
    bottom:10px;
    left: 400px;
    width: 150px;
    height: 50px;
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.2); /* Set see-through dark background color */
    }

}

#ExerciseButton {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 10px;
    left: 880px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: aliceblue; /* Add a smooth transition */

    /* Add hover effect */
    &:hover {
        background-color: rgba(0, 0, 0, 0.2); /* Set see-through dark background color */
    }
}


#ProfileButton {
    position: absolute;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: aliceblue;
    bottom: 10px;
    right: 400px;
    width: 150px;
    height: 50px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2); /* Set see-through dark background color */
    }
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    color: black;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    bottom: -300px;
    right: 0px;
}
