body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 2px, transparent 2px), radial-gradient(#444cf7 2px, #e5e5f7 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

header {
    width: 1883px;
    height: 500px;
    padding: 10px;
    position: absolute;
    top:28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('https://github.com/PunchPotato/Calorie-Tracking-Web-App/blob/main/images/app%20page%20aginh%2010_.png?raw=true');
    background-size: cover;
}

#Everything {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    position: absolute;
    top: 0px;
    left: 400px;
}

#Fitness {
    color: rgb(255, 246, 246);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    position: absolute;
    top: 50px;
    left: 400px;
}

.box {
    width: 1080px;
    height: 50px;
    background-color: white;;
    padding: 20px;
    position: absolute;
    top: 300px;
    left: 400px;
  }

  .box_2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    width: 300px;
    height: 50px;
    background-color: white;;
    padding: 20px;
    position: absolute;
    width: 400px;
    height: 140px;
    top: 325px;
    right: 400px;
    text-align: center;
    border-radius: 50px;
    color: black;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.expanding-box {
    background-color: white;
    width: 1080px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 580px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
}

#foodaddtext{
    font-size: xx-large;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.search_food {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    width: 400px;
    height: 140px;
    top: 325px;
    left: 400px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
}

form input[type="text"] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    height: 30px;
    position: absolute;
    top: 40px;
    left:  40px;
    padding: 5px;
    margin-bottom: 10px;
}

form button {
    padding: 5px 10px;
}

#FoodButton {
    position: absolute;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: black;
    top: 100px;
    left: 140px;
    width: 150px;
    height: 50px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

#caloriesinfo{
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: black;
    width: 450px;
    height: 50px;
    background-color: white;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

#LogOutButton {
    position: absolute;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: aliceblue;
    top: 50px;
    right: 400px;
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #414770
    }
}

#DietTrackingButton {
    position: absolute;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: aliceblue;
    bottom: 310px; /* Adjusted from 210px */
    left: 400px;
    width: 150px;
    height: 50px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2); /* Set see-through dark background color */
    }
}

#ExerciseButton {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 310px; /* Adjusted from 210px */
    left: 870px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: aliceblue; /* Add a smooth transition */

    /* Add hover effect */
    &:hover {
        background-color: rgba(0, 0, 0, 0.2); /* Set see-through dark background color */
    }
}

#ProfileButton {
    position: absolute;
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px transparent;
    color: aliceblue;
    bottom: 310px; /* Adjusted from 210px */
    right: 400px;
    width: 150px;
    height: 50px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2); /* Set see-through dark background color */
    }
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    color: black;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    bottom: -300px;
    right: 0px;
}