body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 2px, transparent 2px), radial-gradient(#444cf7 2px, #e5e5f7 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

header {
    width: 1898px;
    height: 900px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('https://github.com/PunchPotato/Calorie-Tracking-Web-App/blob/main/images/login%20page%203.png?raw=true');
    background-size: cover;
}

#Everything {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    position: absolute;
    top: 0px;
    left: 400px;
}

#Fitness {
    color: rgb(255, 246, 246);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    position: absolute;
    top: 50px;
    left: 400px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    position: absolute;
    top: 200px; /* Adjusted from 0px */
    left: 660px; /* Adjusted from 400px */
}

#email {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 460px; /* Adjusted from 360px */
    left: 500px; /* No change */
}

#emailtextbox {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 460px; /* Adjusted from 360px */
    left: 760px; /* Adjusted from 500px */
    width: 500px;
}

#resetpassword_id {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    position: absolute;
    width: 320px;
    top: 620px; /* Adjusted from 620px */
    left: 850px; /* Adjusted from 590px */
}

#error {
    position: absolute;
    top: 410px; /* Adjusted from 410px */
    left: 760px; /* Adjusted from 500px */
}

#or {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 730px; /* Adjusted from 730px */
    left: 730px; /* No change */
}

#loginlink {
    position: absolute;
    top: 830px; /* Adjusted from 830px */
    left: 990px; /* Adjusted from 730px */
}


main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    color: black;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    bottom: -340px;
    right: 25px;
}