body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cccdd0; /* Change to the desired color */
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;
    background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc9GAkgrbU3-pSq8_ePqQGW64m1IrgMZuCEMg72M5z0cNFk4wzVyfYt511_RvSlT72w4OoDHVDh9W5eKK7t2w0lLVyYf94tNqcIE-5V0W40DOm7590XrFcVRhVD6EQTfWV8G4rQhvfdR9Y3i2InIQUrRMZocVWE3iYBO2_imo3V3gzMT_oLBCYVlIHAmlZDMxYBDatotHAyODw3mGvLpE3uUfR0X1k3WS3FL3fcu5F89EPwaSC6yG7CxYZ9RF-gLL2D84sVFX_2Ih7KIe7lpzMjNgBhxFwEvujfO4Z12MzOHzkaHIMH1smxglc6Bk0suCTUXbFdmqm5-h44Il4TV847nk5neczEhWV_p_WjNRMGnS7Q-4O823U5kWg2N4s13MfeZGaUeAXDP4OYhHa3gQxMQ-ajHqmIsCZZgEjia2JB2btgs-KDZJfRE4SBFhGxCIBpw4hI2gbg-1TD5WpavSQMl5V-k4KO2OSUCfWWWHqC1xD0uA342e2CiKd4UuxuKtxL6HszPGa0zumVUhqMgJndPd_ZofktyVGnQ7WmZHNZy2wdKLMbQkUD1Mlv4twW7glc23d-HezdzUNhgQLHaXP6UHsW3gFshvqlBin6cb07rv89sG-_73ozhs1B3D24uv1_2yGppPLBNXx7nXLdGhVQp-BiZZgKWR0DldH8DPh3Nod2R7wRmQ_Y5eUMBgZV3IXXB0dBlkYbAjtgZOPx55noVBQPHH674uATylS-KtvGIMzO_6Mng3qibNxA2onrgJ6n3jYsrCsQrMDWqTRqHb2BRaYVbxV4O9ZUM_ysAUegLZhNU1AGogr5XvZTDhT1hAsfn1I7gFebpQGa8n0gxaop8arEjpX20xROcEwx9a7dToqO_JMw-eXlfbLrsMiwD9Oi4M3bTa1n5kHpYRmj-DNTINQ=w1641-h923-s-no?authuser=0');
    background-size: cover; /* Adjust the image size to cover the header */
    background-position: center; /* Center the image horizontally and vertically */
    color: #ffffff;

}

#Everything {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: sticky;
    top: 5px;
    right: 850px;
}   
#Fitness {
    color: rgb(255, 246, 246);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: sticky;
    top: 0px;
    right: 800px;

}

#Button {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    top: 50px;
    right: 75px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}

#BackgroundImage {
    position: fixed;
    top: 50px;
    left: 75px;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    color: black;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
