body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cccdd0;
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;
    background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc8RzWOg-ET7HfZJ-6cj7Zj3RzH6YSCfVZBgVC6L3nf164CuzPz_j5TDvS8qQyTtToKn_ZAkKThbqmYspS5kO0Oqk2EmkPPdP8Qmc_XFDMrsXViNHtpMHifsg5g2HJc7GAYo1cmZXbIH2NwjcaHT3BeJm9uoHAtpwPAXuRk3BqZwl3nleYi2v8JCLW5byrPmwNuzZ3-njnFs6teq8Ng6jGgd8Df7uS5jMkgdsYGJH1Y0L2vyaqACZqi82aJ9wDfRgcyEFTlCSsTE9h9ABXBnHgMml5321lt43WKMTJUJWTwi0JcVe3FXmNyUwmRzZRjFtFKrx27phBRAqhAVvWeIwt7qmaRo8OxgcYShQtwvAXUqNnOOLsxYYJeVEYrhcr6MMfPgIy86OYKSTLvFVuV_3I420cb0k-BbYF9ng9EjW6qZgjfs07bt6ACfMAJRkfN-__V-EZOm8nmNpy0G_LEirGkGoe82QfY0qJiZHCU6hd-9awA2Ce5ldA4GCBMYpUTnqBufA6fwZxW4_wTcRsH5m5PXb9EUUxCi2y_QJ2H5C12KU8tjaZn5ICAgVafvHbYzw1yxy6p15nl5T3WywReEP6PiD-IOzwgYb_PIezRGGxCRzhxs8qzG2iY7paWgrw2sTPczNelmmJ17W7EvxcxH-1Bl2lMyAIKcvANkX5I_vTAvo-DNsq89huV-YLt4DOQLr4zKw-KoAoubqY6Mut-0jSSVNs7eYQcqH_Wfmhy8I_76THLiQNibXXpxW9rIvn8FADYMAr1fu5A9g6Ud__zGPEd-8JKrGLUGqO_RiRy17bl1Usbfp43n9Umv5wFE2NzhjQRmukHMHgvQmT-wSb7U9DCyKvR63faztZD9qRhlVBBjkpcm4kKXgz1P5seflVXTybdl8imlKPTd3Oec-if2LHRsAw=w1920-h582-s-no?authuser=0');
    background-size: cover;
    background-position: center;
    color: #ffffff;

}

#Everything {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    position: static;
    top: 5px;
    right: 100px;
}   
#Fitness {
    color: rgb(255, 246, 246);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    position: static;
    top: 5px;
    right: 0px;

}


#BackgroundImage {
    position: fixed;
    top: 50px;
    left: 75px;
}

.box {
    width: 1820px;
    height: 700px;
    background-color: #d7dcea;
    border: 10px solid #000000;
    padding: 20px;
    position: absolute;
    top: 300px;
    left: 10px;
    border-radius: 15px;
  }

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    position: absolute;
    top: 0px;
    left: 540px;   
}

#username {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 260px;
    left: 300px;
}

#password {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 350px; 
    left: 300px;
}

#usernametextbox {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 260px; 
    left: 500px;
}

#passwordtextbox {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 350px; 
    left: 500px;
}

#forgotpasswordlink {
    position: absolute;
    top: 400px; 
    left: 500px;
}

#login_id {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    position: absolute;
    width: 320px;
    top: 420px; 
    left: 500px;
}

#error {
    position: absolute;
    top: 310px; 
    left: 500px;
}

#or {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 530px; 
    left: 380px;
}

#foodimage {
    position: absolute;
    top: 0px; 
    right: 100px;
    width: 400px;
    height: 740px;
}

#signuplink {
    position: absolute;
    top: 630px; 
    left: 630px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    position: absolute;
    top: 520px; 
    left: 590px;
    }

    .checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    }

    .checkbox-container label {
    font-size: 18px;
    color: #333;
    }

    .checkbox-container input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #007bff;
    }


main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    color: black;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    bottom: -140px;
    right: 25px;
}
