body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cccdd0; /* Change to the desired color */
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black;
    background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc9k_dnrOyXpeb3TaujYNjSWTsFPZTe3WoyxXvj55IdwvunH1KuAp43pc79NgG7VcWcWQpWq4s3KgKOUAealjEgJ1bsIOxcZBXmu6f23lFTG-IjWU0buJoJH5Lznm2A9T98pYIJ9fVNa43MhVmxoHiS4s6sfpz27Z4JNfXIc77S3U-Pua03wX1eF71hru7PFM3d7QHXm1MVNzQQEzuyktRLvA5U0pQzzoy5vt-yOVU-CuuwRDQ-r1hqEecKHV0afdhdlWDXQcZte4LZ1S1O3MI7kUI2seyfjcZ3TuNM_iHanR7utC6aSI5LT7Kh5WQAHkKoQAY0KsNZ4lqCxKcywwjR_u34vzTex8TjhanWXid6DbH4tLvKBcbTMIelCXbXqgisa3Hi3UESpDd0BpGtwhBey6SqmgPczemjdpCK03muTW0q3Ipm8ouIglfzWowrVi11gV9V1_FC1c46NEbR7dvhaXiXqAXdzJrxbUs5wb4B0vWY0Qt3y-wWdzj_hrgt0zdeikO1daub-lga6FQQUCjlrUv93UiEqBdiXMJ3XGX0Br7YMoubB0cOzu_E3-ooGyKhymWl2FrQbn5BUnhZiTSj-6xnuoCM4xr7qbGYSkv3AP3eLHQNvxy-akjcx9CJo0iEPwHx1iS-vOa2M3Rh97jcg5mMV759iEqZS8dQwoRGdRW-GcoEiJLmVTMIj2boM0qztSmJvdqZMvleNc3IiK309fK_s13ePCIpvPhcwDDWw_M1CoH1Dp0Hmx3D3QVQD6KkRlEyrGItX63RqkFijnbINzZ4MPYPtLhkTMBAIRYpFr_y33GAEDekKs5NuNvrSdQ3bJLVMXTMe_n2Q9cbhtUL6ocZvXDRK2-JjuL5xPALA4RuOJXTYBkhlqgfvpcAcXcvM59WNyB0k8CzPrgleByCuEw=w1920-h582-s-no?authuser=0');
    background-size: cover; /* Adjust the image size to cover the header */
    background-position: center; /* Center the image horizontally and vertically */
    color: #ffffff;

}

#Everything {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    position: static;
    top: 5px;
    right: 100px;
}   
#Fitness {
    color: rgb(255, 246, 246);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    position: static;
    top: 5px;
    right: 0px;

}


#Button {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    top: 50px;
    right: 75px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}

#BackgroundImage {
    position: fixed;
    top: 50px;
    left: 75px;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    color: black;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
